<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Featured"></Label>
</ActionBar>

<StackLayout class="page page-content" #layout>
    <label class="page-icon fa" text="&#xf002;"></label>
    <Searchform (search)="buscarAhora($event)" [inicial]="hola"></Searchform>
    <ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)" style="height:1250px;">
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Image src="res://icon" class="thumb img-circle"></Image>
                <label [text]="x" class="list-group-item" verticalAligment="center" style="width: 60%;"></label>
            </FlexboxLayout>
        </ng-template>
    
    </ListView>

</StackLayout>
